<!DOCTYPE html>
<html lang="en" xmlns:th="//www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<nav th:replace = "~{fragments :: manager-nav}"></nav>
<h1>ASSIGN ROOMS</h1>
<form action="/manager/assignroom" method="POST">
    <div class="form-item">
        <div>
            <label th:for="roomNumber">Room Number
            </label>
        </div>
        <div>
        <label>Room Attendant</label>
        </div>
        <div>
        <label>Guest Name</label>
            <input type="text">
        </div>
        <div>
            <label>Number of guests</label>
        </div>
        <div>
        <label>Check In
        <input type="date" th:field="${roomAssigning.checkIn}">
        </label>
        </div>

        <div>
        <label>Check Out
        <input type="date" th:field="${roomAssigning.checkOut}">
        </label>
        </div>
        <div>
            <label th:for="task">Cleaning Task
            </label>
            <select th:field="${roomAssigning.task}">
                <option value =""></option>
                <option th:each = "task : ${task}"
                    th:value = "${task}"
                    th:text = "${task.displayName}">
                </option>
            </select>
        </div>
        <div>
                <label th:for="status">Status
                </label>
                <select th:field="${roomAssigning.status}">
                    <option value =""></option>
                    <option th:each = "status : ${status}"
                            th:value = "${status}"
                            th:text = "${status.displayName}">
                    </option>
                </select>
        </div>
        <div>
        <label>Notes</label>
    </div>
    </div>
    <input type="submit" value="Assign Room">
</form>
</body>
</html>