<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<meta charset="UTF-8 /">
<head>
    <nav th:replace = "~{fragments :: manager-nav}"></nav>
    <title>Manager homepage</title>
</head>

<body class="container">
<h1>HOMEPAGE FOR MANAGER</h1>
<th:block>
<table class="table table-striped">
<thead>
    <tr>
    <th>ROOM NB</th>
    <th>ROOM ATTENDANT</th>
    <th>GUEST</th>
    <th>NUMBER OF GUESTS</th>
    <th>CHECKIN</th>
    <th>CHECKOUT</th>
    <th>CLEANING TASK</th>
    <th>NOTES</th>
    <th>STATUS</th>
</tr>
</thead>
    <tr th:each = "roomAssigning : ${roomAssigning}">
        <td>IN PROGRESS</td>
        <td>IN PROGRESS</td>
        <td th:text="${roomAssigning.guest}"></td>
        <td th:text="${roomAssigning.numberOfGuests}"></td>
        <td th:text="${roomAssigning.checkIn}"></td>
        <td th:text="${roomAssigning.checkOut}"></td>
        <td th:text="${roomAssigning.task?.displayName}"></td>
        <td th:text="${roomAssigning.note}"></td>
        <td th:text="${roomAssigning.status.displayName}"></td>
    </tr>
</table>
</th:block>
<div>
<button type="submit">CREATE ROOM</button>
</div>
</body>
</html>