.header{
  width:100%;
  height: 80px;
  text-align: center;
 /* position: absolute; */
 background-color: rgba(23, 4, 4, 0.271);
 color: rgb(222, 212, 212);
 font-family: 'poppins', sans-serif;
 font: 36px;
}

.footer {
 position: absolute;
 bottom: 0;
 width:100%;
 height: 50px;
 background-color: rgb(236, 229, 229);
 text-align: center;
 color: white;
}

.nbar{
  background-color: darkblue;
}

.mode-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
}

.mode-toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.mode-toggle .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.mode-toggle .slider.dark {
  background-color: #333;
}

.mode-toggle .slider.dark:before {
  transform: translateX(26px);
}

.mode-toggle .slider.light:before {
  transform: translateX(0);
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
