/* Default styles for all screens */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  position: relative;
  background-color: Black;
  color: ForestGreen;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.dark-mode #themeToggle {
  background-color: black;
  color: white;
}

.light-mode #themeToggle {
  background-color: White;
  color: Black;
}

body::before {
  content: '';
  background: url('Roomranger-transparent.png') center;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: -1;
  background-size: calc(100% - 20px) calc(100% - 20px);
}

.animated-picture img {
  width: auto;
  max-width: 80%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-family: 'Algerian';
}

.header h1 {
  margin: 0;
  font-size: 90px;
  color: cyan;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

.login-button,
.role-dropdown {
  margin-bottom: 10px;
  color: ForestGreen;
}

.login-button a,
.navigation a {
  text-decoration: none;
  color: ForestGreen;
  margin-right: 20px;
  font-size: 15px;
}

.mode {
  margin-bottom: 10px;
  text-decoration: none;
  color: ForestGreen;
  margin-right: 20px;
  font-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.error-message {
  color: Blue;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: ForestGreen;
  transition: font-size 0.1s ease;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 60px;
  }

  .login-button a,
  .navigation a {
    font-size: 12px;
  }

  .footer {
    font-size: 12px;
  }
}
