body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  position: relative;
  background-color: Black;
}

body::before {
  content: '';
  background: url('frontpage.jpg') center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.animated-picture img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: rgba(0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-family: 'Algerian';
}

.header h1 {
  margin: 0;
  font-size: 90px;
  color: cyan;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.login-button,
.role-dropdown {
  margin-bottom: 10px;
  color:ForestGreen;
}

.login-button a,
.navigation a {
  text-decoration: none;
  color:ForestGreen;
  margin-right: 20px;
  font-size: 15px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(0);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: ForestGreen;
}