<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoomRanger</title>
</head>
<body th:fragment="body">
<div class="header">
    <h1>RoomRanger</h1>
</div>
<div class="container">
    <div class="animated-picture">
        <img src="frontpage.jpg" alt="Animated Picture">
    </div>
    <button type="submit" class="btn btn-primary w-100 py-2" value="Log In">LOGIN</button>
    <a href="/registration">Registration</a>
</div>
<div class="navigation">
    <a href="/about">About Us</a>
    <a href="/contact">Contact</a>
</div>
<div class="footer">
    <p>© 2024 RoomRanger. All rights reserved.</p>
</div>
</body>
</html>
