<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <th:replace fragment="fragments :: fragments"></th:replace>

<body>
<header class="header">
    <h1>RoomRanger</h1>
</header>

<main class="container">
    <div class="animated-picture">
        <img src="frontpage.jpg" alt="Animated Picture">
    </div>

    <div class="buttons">
        <a href="/Registration">Registration</a>
        <a href="/login">Login</a>
    </div>

    <nav class="navigation">
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
    </nav>
</main>

<footer class="footer">
    <p>&copy; 2024 RoomRanger. All rights reserved.</p>
</footer>
</body>
