<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>RoomRanger</title>
</head>
<body>
<div class="header">
    <h1>RoomRanger</h1>
</div>
<div class="container">
    <div class="animated-picture">
        <img src="frontpage.jpg" alt="Animated Picture">
    </div>
    <div class="buttons">
        <a href="/registration">Registration</a>
        <a href="/login">Login</a>
    </div>
    <div class="navigation">
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
    </div>
</div>
<div class="footer">
    <p>© 2024 RoomRanger. All rights reserved.</p>
</div>



</body>
</html>
