<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <th:replace fragment="fragments :: fragments"></th:replace>
</head>
<body style="background-color: Coral;">



<form action="/login" method="post" th:object="${loginForm}" onsubmit="return validateAge();">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}" autocomplete="username" required><br>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></span><br>

    <label for="password">Password:</label>
    <div class="password-container">
        <input type="password" id="password" name="password" th:field="*{password}" autocomplete="current-password" required>
        <span class="eye-icon" onclick="togglePasswordVisibility('password')" alt="Toggle Password Visibility">👁️</span>
    </div><br>

    <button type="submit">Done</button>
    <button type="submit">Cancel</button>
</form>

<script th:inline="javascript">
    function togglePasswordVisibility(fieldId) {
        let passwordInput = document.getElementById(fieldId);
        let fieldType = passwordInput.type;
        passwordInput.type = fieldType === "text" ? "password" : "text";
    }
</script>
<script th:inline="javascript">
    function validateLogin() {
        // Add any login-specific validation if needed
        return true;
    }
</script>

</body>
</html>
