<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body class="container">
<h2 th:text="${title}">Room Ranger</h2>
<form method="post" th:object="${room}" >
    <div class="mb-3">
        <label> Room Number
            <input th:field="*{roomNumber}">
        </label>
    </div>
    <div class="mb-3">
        <label> Room Type
            <select th:field="*{roomType}">
                <option th:each="roomType: ${types}"
                        th:value="${roomType}"
                        th:text="${roomType.displayName}">
                </option>
            </select>
        </label>
    </div>
    <div class="mb-3 form-check">
        <label> Is Available
            <input type="checkbox" th:field="*{available}"/>
        </label>
    </div>
    <div class="mb-3">
        <input type="submit" value="Add Room">
    </div>
    <!--    <div>-->
    <!--        <label> Room Attendant-->
    <!--            <input th:field="*{roomAttendantAssigned}">-->
    <!--        </label>-->
    <!--    </div>-->
<!--    <div>-->
<!--        <label> Cleaning Task-->
<!--            <select th:field="*{cleaningTask}">-->
<!--                <option th:each="cleaningTask: ${tasks}"-->
<!--                        th:value="${cleaningTask}"-->
<!--                        th:text="${cleaningTask.displayName}"-->
<!--                ></option>-->
<!--            </select>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label> Room Status-->
<!--            <select th:field="*{status}">-->
<!--                <option th:each="roomStatus: ${status}"-->
<!--                        th:value="${roomStatus}"-->
<!--                        th:text="${roomStatus.displayName}"-->
<!--                ></option>-->
<!--            </select>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label> Guest Name-->
<!--            <input th:field="*{guest}">-->
<!--        </label>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label> Number Of Guest-->
<!--            <input th:field="*{numberOfGuests}">-->
<!--        </label>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label> Check In Date-->
<!--            <input type="date" th:field="*{checkinDate}">-->
<!--        </label>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label> Check Out Date-->
<!--            <input type="date" th:field="*{checkoutDate}">-->
<!--        </label>-->
<!--    </div>-->
</form>

</body>
</html>