<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
<h2 th:text="${title}">Room Ranger</h2>
<form method="post">
    <div>
        <label> Room Number
            <input th:field="${room.roomNumber}">
        </label>
    </div>
    <div>
        <label> Room Type
            <select th:field="${room.roomType}">
                <option th:each="roomType: ${types}"
                        th:value="${roomType}"
                        th:text="${roomType.displayName}">
                </option>
            </select>
        </label>
    </div>
<!--    <div>-->
<!--        <label> Room Attendant-->
<!--            <input th:field="${room.roomAttendantAssigned}">-->
<!--        </label>-->
<!--    </div>-->
    <div>
        <label> Occupancy
            <select th:field="${room.roomOccupancy}">
                <option th:each="roomOccupancy: ${occupancy}"
                        th:value="${roomOccupancy}"
                        th:text="${roomOccupancy.displayName}"
                        ></option>
            </select>
        </label>
    </div>
    </div>
    <div>
        <input type="submit" value="Create Room">
    </div>
</form>

</body>
</html>