<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h2 th:text="${title}">Room Ranger</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Guest</th>
        <th>Check In Date</th>
        <th>Check Out Date</th>
        <th>Room Attendant Assigned</th>
        <th>Room is Available</th>
        <th>notes</th>
    </tr>
    </thead>
    <tr th:each="room : ${rooms}">

        <td>
<!--            add link to room number-->
            <a th:href="'/rooms/detail?roomId=' + ${room.id}" th:text="${room.roomNumber}"></a>
        </td>
        <td th:text="${room.roomType.displayName != null ? room.roomType.displayName : null}"></td>
        <td th:text="${room.guest}"></td>
        <td th:text="${room.checkinDate}"></td>
        <td th:text="${room.checkoutDate}"></td>
        <td th:text="${room.roomAttendantAssigned}"></td>
        <td th:text="${room.available ? 'Yes' : 'No' }"></td>
        <td th:text="${room.note}"></td>
    </tr>
</table>

</body>
</html>
