 
  .home-page-container {
     min-height: 89vh;
    width:auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .home-page-content {
    flex-grow: 1;
  }
  
  .home-page-footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Push the footer to the bottom of the container */
  }
  
  h1 {
    text-align: center; /* Center text horizontally */
    font-family: Algerian, sans-serif; /* Set font to Algerian */
    font-size: 2.5em; /* Adjust font size as needed */
    padding: 20px;
    background-color: Black;
    color: White;
  }
  
  /* Style for Dropdown Menu */
  .dropdown-menu {
    background-color: White;
  }
  
  /* Style for Dropdown Items */
  .dropdown-item {
    color: Black;
    padding: 10px;
  }
  
  /* Center the Dropdown */
  .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dropdown-toggle {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }