<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Room Attendant</title>
</head>
<body>
<form  method="post" action="">


<!--    <div class="form-group">-->
<!--        <label>ID:-->
<!--            <input th:field="${roomAttendant.id}" class="form-control">-->
<!--        </label>-->
<!--        <p class="error" th:errors="${roomAttendant.id}"></p>-->
<!--    </div>-->
    <div class="form-group">
        <label>First Name:
            <input th:field="${roomAttendant.firstName}" class="form-control">
        </label>
        <p class="error" th:errors="${roomAttendant.firstName}"></p>
    </div>
    <div class="form-group">
        <label>Last Name:
            <input th:field="${roomAttendant.lastName}" class="form-control">
        </label>
        <p class="error" th:errors="${roomAttendant.lastName}"></p>
    </div>
    <div class="form-group">
        <label>Email:
            <input th:field="${roomAttendant.email}" class="form-control">
        </label>
        <p class="error" th:errors="${roomAttendant.email}"></p>
    </div>
    <div class="form-group">
        <label>Phone Number:
            <input type="tel" id="phone" name="phone">
<!--                   placeholder="123-456-7890"-->
<!--                   pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">-->
        </label>
        <p class="error" th:errors="${roomAttendant.phoneNumber}"></p>
    </div>
    <div class="form-group">
        <label >Pronoun:</label>

        <select name="pronoun">
            <option value="He/Him" >He/Him</option>
            <option value="She/Her" >She/Her</option>
            <option value="They/Them" >They/Them</option>
        </select>
    </div>
    <div class="form-group">
        <label>Username:
            <input th:field="${roomAttendant.username}" class="form-control">
        </label>
        <p class="error" th:errors="${roomAttendant.username}"></p>
    </div>
    <div class="form-group">
        <label>Password:
            <input th:field="${roomAttendant.password}" class="form-control">
        </label>
        <p class="error" th:errors="${roomAttendant.password}"></p>
    </div>
<!--    <div class="form-group">-->
<!--        <label>Working Days:-->
<!--            </label>-->
<!--            <input type="checkbox" id="sunday" name="sunday" value="Sunday">-->
<!--            <label for="male">Sunday</label>-->
<!--            <input type="checkbox" id="monday" name="monday" value="Monday">-->
<!--            <label for="female">Monday</label>-->
<!--            <input type="checkbox" id="tuesday" name="tuesday" value="Tuesday">-->
<!--            <label for="others">Tuesday</label>-->
<!--            <input type="checkbox" id="wednesday" name="wednesday" value="Wednesday">-->
<!--            <label for="others">Wednesday</label>-->
<!--            <input type="checkbox" id="thursday" name="thursday" value="Thursday">-->
<!--            <label for="others">Thursday</label>-->
<!--            <input type="checkbox" id="friday" name="friday" value="Friday">-->
<!--            <label for="others">Friday</label>-->
<!--            <input type="checkbox" id="saturday" name="saturday" value="Saturday">-->
<!--            <label for="others">Saturday</label>-->
<!--        <p class="error" th:errors="${roomAttendant.workingDays}"></p>-->
<!--    </div>-->
    <div>
        <div class="form-group">
    <label>Working Days:</label>
    <input type="checkbox" value="Sunday" id="sunday">
      <label for="sunday">Sunday</label>
    <input type="checkbox" value="Munday" id="monday">
    <label for="sunday">Monday</label>
    <input type="checkbox" value="Tuesday" id="tuesday">
    <label for="tuesday">Tuesday</label>
    </div>

            <div>
                <label>Upload Picture</label>
            <input type="image" src="img_submit.gif" alt="Submit" width="48" height="48">
            </div>
            <div class="form-group">
                <label>Notes
                    <input th:field="${roomAttendant.notes}" class="form-control">
                </label>
                <p class="error" th:errors="${roomAttendant.notes}"></p>
            </div>
        <div>
    <input type="submit" value="Submit">
        </div>
        <div>
    <input type="reset" value="Reset">
    </div>
        <div>
    <input type="button" value="Back">
    </div>
</form>
</body>
</html>