<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head>
    <meta charset="UTF-8 /">
    <title>Room Attendant Home Page</title>
    <!--    <script></script>-->
</head>

<div style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">
    <h2>Room Attendants</h2>
</div>

<body class="container">
<div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
</div>

<div>
    <table class="table table-striped">
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>FULL NAME</th>-->
<!--            <th>EMAIL ADDRESS</th>-->
<!--            <th>NOTES</th>-->

<!--        </tr>-->
<!--        </thead>-->
        <tbody>

        <tr th:each="roomAttendant : ${roomAttendant}">
            <td th:text="${roomAttendant.id}">ID</td>
            <td th:text="${roomAttendant.firstname} + ' ' + ${roomAttendant.lastname}">Full Name</td>
            <td th:text="${roomAttendant.email}">EMAIL</td>
            <td th:text="${roomAttendant.notes}">NOTES</td>
<!--            <td>-->
<!--                <a  th:href="@{'roomAttendant/edit' + ${roomAttendant.id}}">Edit</a>-->
<!--                <a  th:href="@{'roomAttendant/delete' + ${roomAttendant.id}}">Delete</a>-->
<!--            </td>-->
            <td>
            <div class="btn-group">
                <a class="btn btn-primary" id="editButton" th:href="@{/roomAttendant/findById/(id=${roomAttendant.id})}"><i class="icon_pencil-edit"></i></a>
                <a class="btn btn-success" id="detailsButton" th:href="@{/roomAttendant/findById/(id=${roomAttendant.id})}"><i class="icon_document_alt"></i></a>
                <a class="btn btn-danger" id="deleteButton" th:href="@{/roomAttendant/delete/(id=${roomAttendant.id})}"><i class="icon_close_alt2"></i></a>
            </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<div>
    <a class="h4" th:href="@{roomAttendant/add}"><button type="submit">Add Room Attendant</button></a>
</div>
</body>
</html>