<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8 /">
    <title>Room Attendant Home Page</title>
    <script></script>
</head>
<body>
</div>
<div>
<a class="h4" th:href="@{roomAttendant/add}">Add Room Attendant</a>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>SCHEDULE</th>
            <th>NOTES</th>
        </tr>
        </thead>
<!--        <tr bl th:each="roomAttendant : ${roomAttendant}">-->
<!--            <td th:text="${roomAttendant.ID}"></td>-->
<!--&lt;!&ndash;            <td th:text="${addRoomAttendantDTO.firstName}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${WorkingDays.displayName}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${addRoomAttendantDTO.notes}"></td>&ndash;&gt;-->

<!--        </tr>-->
    </table>
</div>
</body>
</html>