<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->


<!--<head>-->
<!--  <meta charset="UTF-8 /">-->
<!--  <title>Room Attendant Profile</title>-->
<!--  &lt;!&ndash;    <script></script>&ndash;&gt;-->

<!--</head>-->

<!--<div style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">-->
<!--  <h2>User Profile</h2>-->
<!--</div>-->

<!--<body class="container">-->

<!--<div>-->
<!--  <table class="table table-striped">-->
<!--&lt;!&ndash;    <thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;      <th scope="row">ID</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <th scope="row">NAME</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <th scope="row">EMAIL</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <th scope="row">NOTES</th>&ndash;&gt;-->


<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tbody>&ndash;&gt;-->

<!--&lt;!&ndash;    <tr th:each="roomAttendant : ${roomAttendant}">&ndash;&gt;-->
<!--&lt;!&ndash;      <td th:text="${roomAttendant.id}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash;            <td th:text="${roomAttendant.firstName}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      <td><a th:href="'/roomAttendant/profile?id=' + ${roomAttendant.id}" th:text="${roomAttendant.firstName}"></a></td>&ndash;&gt;-->

<!--&lt;!&ndash;      <td th:text="${roomAttendant.email}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td th:text="${roomAttendant.notes}"></td>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;      <td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        &lt;!&ndash;                <a class="h4" th:href="@{roomAttendant/add}"><button type="submit">Add Room Attendant</button></a>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        <a class="h4" th:href="@{roomAttendant/update/{id}(id=${roomAttendant.id})}"><button type="submit">Update</button></a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <a class="h4" th:href="@{roomAttendant/delete/{id}(id=${roomAttendant.id})}"><button type="submit">Delete</button></a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      </td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->

<!--&lt;!&ndash;    </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;  </table>&ndash;&gt;-->
<!--      <thead  class="black white-text">-->
<!--      &lt;!&ndash;<th scope="col" data-resizable-column-id="usernamename"        class="text-center" data-sortable="true" data-field="name"        data-filter-control="select">username</th>&ndash;&gt;-->

<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="roomAttendant :${roomAttendant}">-->
<!--      <td th:href=" @{/roomAttendant/profile}" th:text="Username" > Key </td>-->
<!--      <td><span Value> </span></td>-->
<!--    </tr>-->
<!--    <tr th:each="roomAttendant :${roomAttendant}">-->
<!--      <td th:text="Email"> Key </td>-->
<!--      <td><span th:text="${roomAttendant.email}"> Value </span></td>-->
<!--    </tr>-->
<!--    <tr th:each="roomAttendant :${roomAttendant}">-->
<!--      <td th:text="ID"> Key </td>-->
<!--      <td><span th:text="${roomAttendant.id}"> Value </span></td>-->
<!--    </tr>-->
<!--    <tr th:each="roomAttendant :${roomAttendant}">-->
<!--      <td th:text="Notes"> Key </td>-->
<!--      <td><span th:text="${roomAttendant.notes}"> Value </span></td>-->
<!--    </tr>-->
<!--&lt;!&ndash;    <tr th:each="roomAttendant :${roomAttendant}">&ndash;&gt;-->
<!--&lt;!&ndash;      <td th:text="Roles"> Key </td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td><span th:text="${roomAttendant.roles}"> Value </span></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->

<!--    </tbody>-->
<!--  </table>-->

<!--</div>-->
<!--</body>-->
<!--<footer class="py-3">-->
<!--  <ul class="nav justify-content-center pb-3">-->
<!--    <li><a href="/aboutUs" class="nav-link pl-3">About US</a></li>-->
<!--  </ul>-->
<!--  <p class="text-center text-body-secondary mb-0" style="font-family: 'Pirata One', cursive !important; color: white !important">Copyright &copy; RoomRangers | <a href="https://www.vecteezy.com/free-vector" target="_blank"> Vectors by Vecteezy</a></p>-->
<!--</footer>-->
<!--</html>-->