<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head>
  <meta charset="UTF-8 /">
  <title>View Profile</title>
  <!--    <script></script>-->
</head>

<div style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">
  <h2>Profile</h2>
</div>
<body class="container">
<!--<div>-->
<!--  <label>Name-->
<!--    <input th:text=" ${roomAttendant.firstName}" class="form-control">-->
<!--  </label>-->
<!--</div>-->
<!--<div>-->
<!--<label>Last Name:-->
<!--  <input th:text="${roomAttendant.lastName}" class="form-control">-->
<!--</label>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <label >Pronoun:-->
<!--  <input th:text="${roomAttendant.pronoun}" class="form-control">-->
<!--  </label>-->
<!--</div>-->
<!--<div class="form-group col-md-6">-->
<!--  <label for="email">Email</label>-->
<!--  <input  th:text="${roomAttendant.email}" type="email" class="form-control" id="email" >-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <label for="phoneNumber">Phone Number:</label>-->
<!--  <input  th:field="${roomAttendant.phoneNumber}" type="tel" class="form-control" id="phoneNumber" placeholder="1234567890">-->
<!--</div>-->

<!--<div class="form-row">-->
<!--  <label>Working Days:</label>-->
<!--  <input type="checkbox" value="Sunday" id="sunday">-->
<!--  <label for="sunday">Sunday</label>-->
<!--  <label for="monday"></label><input type="checkbox" value="Monday" id="monday">-->
<!--  <label for="sunday">Monday</label>-->
<!--  <input type="checkbox" value="Tuesday" id="tuesday">-->
<!--  <label for="tuesday">Tuesday</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group col-md-6">-->
<!--  <label for="username">Username</label>-->
<!--  <p class="error" th:errors="${roomAttendant.username}"></p>-->
<!--  <input  th:field="${roomAttendant.username}" type="text" class="form-control" id="username">-->
<!--</div>-->

<!--<div class="form-group col-md-6">-->
<!--  <label for="password">Password</label>-->
<!--  <p class="error" th:errors="${roomAttendant.password}"></p>-->
<!--  <input  th:field="${roomAttendant.password}" type="password" class="form-control" id="password">-->
<!--</div>-->

<!--&lt;!&ndash;            <div>&ndash;&gt;-->
<!--&lt;!&ndash;                <label>Upload Picture</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="image" src="templates/images" alt="Submit" width="48" height="48">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--<div>-->

<!--  <label>Photos: </label>-->
<!--  <input type="file" name="image" accept="image/png, image/jpeg" />-->

<!--</div>-->
<!--<div class="form-group">-->
<!--  <label>Notes-->
<!--    <input th:field="${roomAttendant.notes}" class="form-control">-->
<!--  </label>-->
<!--  <p class="error" th:errors="${roomAttendant.notes}"></p>-->
<!--</div>-->
<div class="pl-lg-4">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group focused">
        <label class="form-control-label" for="input-username">Username</label>
        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="lucky.jesse">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label class="form-control-label" for="input-email">Email address</label>
        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com">
      </div>
    </div>
  </div>
<div>
  <input type="button" value="BACK" onclick="history.back()">

</div>
</div>



</body>
</html>