<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Room Ranger System</title>-->
<!--  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />-->
<!--</head>-->
<!--<body>-->
<!--<div class="container-fluid">-->
<!--  <div class="text-center"><h2>hbjjkllkj</h2></div>-->

<!--  <form th:action="@{/users/save}" method="post" th:object="${user}"-->
<!--        style="max-width: 500px; margin: 0 auto;">-->
<!--    <input type="hidden" th:field="*{id}">-->
<!--    <div class="border border-secondary rounded p-3">-->
<!--      <div class="form-group row">-->
<!--        <label class="col-sm-4 col-form-label">First Name:</label>-->
<!--        <div class="col-sm-8">-->
<!--          <input type="email" th:field="*{email}" class="form-control" required minlength="2" maxlength="45"/>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group row">-->
<!--        <label class="col-sm-4 col-form-label">Last Name:</label>-->
<!--        <div class="col-sm-8">-->
<!--          <input type="text" th:field="*{firstName}" class="form-control" required minlength="2" maxlength="45" />-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group row">-->
<!--        <label class="col-sm-4 col-form-label">Email:</label>-->
<!--        <div class="col-sm-8">-->
<!--          <input type="text" th:field="*{lastName}" class="form-control" required minlength="8" maxlength="45" />-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group row">-->
<!--        <label class="col-sm-4 col-form-label">Gender:</label>-->
<!--        <select name="gender" id="gender">-->
<!--          <option value="male">Male</option>-->
<!--          <option value="female">Female</option>-->
<!--          <option value="other" >Other</option>-->
<!--        </select>-->
<!--      </div>-->
<!--        <fieldset>-->
<!--          <legend>Days Working</legend>-->
<!--          <div>-->
<!--            <label>-->
<!--              <input type="checkbox" id="monday" name="day" value="monday" />-->
<!--              Monday-->
<!--            </label>-->
<!--          </div>-->
<!--          <div>-->
<!--            <label>-->
<!--              <input type="checkbox" id="tuesday" name="day" value="tuesday" />-->
<!--              Tuesday-->
<!--            </label>-->
<!--          </div>-->
<!--          <div>-->
<!--            <label>-->
<!--              <input type="checkbox" id="wednesday" name="day" value="wednesday" />-->
<!--              Wednesday-->
<!--            </label>-->
<!--          </div>-->
<!--          <div>-->
<!--            <label>-->
<!--              <input type="checkbox" id="thursday" name="day" value="thursday" />-->
<!--              Thursday-->
<!--            </label>-->
<!--          </div>-->
<!--          <div>-->
<!--            <label>-->
<!--              <input type="checkbox" id="friday" name="day" value="friday" />-->
<!--              Friday-->
<!--            </label>-->
<!--          </div>-->
<!--          <div>-->
<!--            <label>-->
<!--              <input type="checkbox" id="saturday" name="day" value="saturday" />-->
<!--              Saturday-->
<!--            </label>-->
<!--          </div>-->
<!--            <div>-->
<!--              <label>-->
<!--              <input type="checkbox" id="sunday" name="day" value="sunday" />-->
<!--              Sunday-->
<!--            </label>-->
<!--          </div>-->
<!--        </fieldset>-->


<!--      <div class="form-group row">-->
<!--        <label class="col-sm-4 col-form-label">Username:</label>-->
<!--        <div class="col-sm-8">-->
<!--          <input type="username" th:field="*{username}" class="form-control" required minlength="5" maxlength="15" />-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group row">-->
<!--        <label class="col-sm-4 col-form-label">Password:</label>-->
<!--        <div class="col-sm-8">-->
<!--          <input type="password" th:field="*{password}" class="form-control" required minlength="5" maxlength="15" />-->
<!--        </div>-->
<!--      </div>-->
<!--      <label for="img">Select image:</label>-->
<!--      <input type="file" id="img" name="img" accept="image/*">-->

<!--      <div class="text-center">-->
<!--        <button type="submit" class="btn btn-primary m-2">Save</button>-->
<!--        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>-->
<!--      </div>-->
<!--    </div>-->

<!--  </form>-->

<!--</div>-->
<!--<script type="text/javascript">-->
<!--  function cancelForm() {-->
<!--    window.location = "[[@{/users}]]";-->
<!--  }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
