

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update a Room Attendant</title>
</head>
<body>
<form th:action="@{/roomAttendant/update}"  method="POST">
  <div  class="form-row align-items-center">

    <div class="form-group">
      <label>First Name:
        <input th:field="${roomAttendant.firstName}" class="form-control">
      </label>
      <p class="error" th:errors="${roomAttendant.firstName}"></p>
    </div>
    <div class="form-group">
      <label>Last Name:
        <input th:field="${roomAttendant.lastName}" class="form-control">
      </label>
      <p class="error" th:errors="${roomAttendant.lastName}"></p>
    </div>
    <div class="form-group">
      <label >Pronoun:</label>
      <select name="pronoun">
        <option value="Choose" >choose</option>
        <option value="He/Him" >He/Him</option>
        <option value="She/Her" >She/Her</option>
        <option value="They/Them" >They/Them</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input  th:field="${roomAttendant.email}" type="email" class="form-control" id="email" >
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input  th:field="${roomAttendant.phoneNumber}" type="tel" class="form-control" id="phoneNumber" placeholder="1234567890">
    </div>

    <div class="form-row">
      <label>Working Days:</label>
      <input type="checkbox" value="Sunday" id="sunday">
      <label for="sunday">Sunday</label>
      <label for="monday"></label><input type="checkbox" value="Monday" id="monday">
      <label for="sunday">Monday</label>
      <input type="checkbox" value="Tuesday" id="tuesday">
      <label for="tuesday">Tuesday</label>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="username">Username</label>
    <p class="error" th:errors="${roomAttendant.username}"></p>
    <input  th:field="${roomAttendant.username}" type="text" class="form-control" id="username">
  </div>

  <div class="form-group col-md-6">
    <label for="password">Password</label>
    <p class="error" th:errors="${roomAttendant.password}"></p>
    <input  th:field="${roomAttendant.password}" type="password" class="form-control" id="password">
  </div>

  <div>
    <label>Upload Picture</label>
    <input type="image" src="templates/images" alt="Submit" width="48" height="48">
  </div>
  <div class="form-group">
    <label>Notes
      <input th:field="${roomAttendant.notes}" class="form-control">
    </label>
    <p class="error" th:errors="${roomAttendant.notes}"></p>
  </div>
  <div>
    <input type="submit" value="SUBMIT">
  </div>
  <div>
    <input type="reset" value="RESET">
  </div>
  <div>
    <input type="button" value="BACK" onclick="history.back()">
  </div>
</form>
</body>
</html>

<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;    <form class="p-2"  th:object="${roomAttendant}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; Alert message &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <div th:if="${alertMessage}" class="alert alert-danger">&ndash;&gt;-->
<!--&lt;!&ndash;            <p th:text="${alertMessage}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <h4 style="font-family: 'Times New Roman', Times, serif;">Delete RoomAttendant</h4>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row p-2">&ndash;&gt;-->
<!--&lt;!&ndash;            <label class="p-1" for="id">Employee ID</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" th:field="roomAttendant.id" class="form-control" id="id">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <button type="submit" class="btn btn-danger mt-3 mb-2">Delete RoomAttendant</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<form class="p-2" th:action="@{/update}" th:object="${employee}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash; Check if errorMessage is present in the model and display it &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">&ndash;&gt;-->
<!--&lt;!&ndash;        <p th:text="${errorMessage}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <center>&ndash;&gt;-->
<!--&lt;!&ndash;        <h4 style="font-family: 'Times New Roman', Times, serif;">Update Employee</h4>&ndash;&gt;-->
<!--&lt;!&ndash;    </center>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="row p-1">&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="p-1" for="id">Employee ID</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" th:field="*{id}" class="form-control" placeholder="employee id" required>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="row p-1">&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="p-1" for="employeeName">Employee Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" th:field="*{employeeName}" class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;               placeholder="employee name" required>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="row p-1">&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="p-1" for="employeeEmail">Email</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" th:field="*{employeeEmail}" class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;               placeholder="email address" required>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="row p-1">&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="p-1" for="employeePhone">Phone</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="tel" th:field="*{employeePhone}" class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;               placeholder="phone number" required>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="row p-1">&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="p-1">Gender</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <select th:field="*{employeeGender}" class="form-select" required>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="" selected>select option</option>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="Male">Male</option>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="Female">Female</option>&ndash;&gt;-->
<!--&lt;!&ndash;        </select>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="row p-1">&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="p-1" for="employeeSalary">Phone</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" th:field="*{employeeSalary}" class="form-control" placeholder="salary"&ndash;&gt;-->
<!--&lt;!&ndash;               required>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="row p-1">&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="p-1" for="employeeRole">Employee Role</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <select th:field="*{employeeRole}" class="form-select" required>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="" selected>select option</option>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="Java">Java Developer</option>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="Python">Python Developer</option>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="Web">Web Developer</option>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="Android">Android Developer</option>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="UI">UI Developer</option>&ndash;&gt;-->
<!--&lt;!&ndash;        </select>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <button type="submit" class="btn btn-primary mt-3 mb-2">Update Employee</button>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->




