

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Update a Room Attendant</title>-->
<!--</head>-->
<!--<body>-->
<!--<form   method="POST">-->
<!--  <div  class="form-row align-items-center">-->

<!--    <div class="form-group">-->
<!--      <label>First Name:-->
<!--        <input th:field="${roomAttendant.firstName}" class="form-control">-->
<!--      </label>-->
<!--      <p class="error" th:errors="${roomAttendant.firstName}"></p>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Last Name:-->
<!--        <input th:field="${roomAttendant.lastName}" class="form-control">-->
<!--      </label>-->
<!--      <p class="error" th:errors="${roomAttendant.lastName}"></p>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label >Pronoun:</label>-->
<!--      <select name="pronoun">-->
<!--        <option value="Choose" >choose</option>-->
<!--        <option value="He/Him" >He/Him</option>-->
<!--        <option value="She/Her" >She/Her</option>-->
<!--        <option value="They/Them" >They/Them</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="form-group col-md-6">-->
<!--      <label for="email">Email</label>-->
<!--      <input  th:field="${roomAttendant.email}" type="email" class="form-control" id="email" >-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="phoneNumber">Phone Number:</label>-->
<!--      <input  th:field="${roomAttendant.phoneNumber}" type="tel" class="form-control" id="phoneNumber" placeholder="1234567890">-->
<!--    </div>-->

<!--    <div class="form-row">-->
<!--      <label>Working Days:</label>-->
<!--      <input type="checkbox" value="Sunday" id="sunday">-->
<!--      <label for="sunday">Sunday</label>-->
<!--      <label for="monday"></label><input type="checkbox" value="Monday" id="monday">-->
<!--      <label for="sunday">Monday</label>-->
<!--      <input type="checkbox" value="Tuesday" id="tuesday">-->
<!--      <label for="tuesday">Tuesday</label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group col-md-6">-->
<!--    <label for="username">Username</label>-->
<!--    <p class="error" th:errors="${roomAttendant.username}"></p>-->
<!--    <input  th:field="${roomAttendant.username}" type="text" class="form-control" id="username">-->
<!--  </div>-->

<!--  <div class="form-group col-md-6">-->
<!--    <label for="password">Password</label>-->
<!--    <p class="error" th:errors="${roomAttendant.password}"></p>-->
<!--    <input  th:field="${roomAttendant.password}" type="password" class="form-control" id="password">-->
<!--  </div>-->

<!--  <div>-->
<!--    <label>Upload Picture</label>-->
<!--    <input type="image" src="templates/images" alt="Submit" width="48" height="48">-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label>Notes-->
<!--      <input th:field="${roomAttendant.notes}" class="form-control">-->
<!--    </label>-->
<!--    <p class="error" th:errors="${roomAttendant.notes}"></p>-->
<!--  </div>-->
<!--  <div>-->
<!--    <input type="submit" value="SUBMIT">-->
<!--  </div>-->
<!--  <div>-->
<!--    <input type="reset" value="RESET">-->
<!--  </div>-->
<!--  <div>-->
<!--    <input type="button" value="BACK" onclick="history.back()">-->
<!--  </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->





